<div class="white"></div>
<div class="contenedor-melena">

    <div class="mechon__superior">
        <div class="blockW1"></div>
        <div class="block2"></div>
        <div class="block3"></div>
        <div class="block4"></div>
        <div class="block5"></div>
        <div class="blockP18"></div>
        <div class="blockW6"></div>
    </div>

    <div class="mechon__derecho">
        <div class="block7"></div>

    </div>
    <div class="mechon__izquierdo">
        <div class="blockW8"></div>
        <div class="block9"></div>
        <div class="blockW10"></div>
        <div class="block11"></div>
    </div>

    <div class="mechon__inferior">
        <div class="block12"></div>
        <div class="block17"></div>
        <div class="block13"></div>
        <div class="block14"></div>
        <div class="block15"></div>
        <div class="blockW16"></div>
    </div>

</div>