<div class="contenedor-melena">

    <!--Melena Superior-->
    <div class="mechon__superior">
        <div class="blockW1"></div>
        <div class="block2"></div>
        <div class="block3"></div>
        <div class="block4"></div>
        <div class="block5"></div>
        <div class="blockP18"></div>
        <div class="blockW6"></div>
    </div>


    <!--Melena Izquierda-->
    <div class="background1"></div>
    <div class="lock1"></div>
    <div class="background2"></div>
    <div class="lock2"></div>

    <!--Melena Inferior-->
    <div class="lock3"></div>
    <div class="lock4"></div>
    <div class="lock5"></div>
    <div class="lock6"></div>
    <div class="lock7"></div>
    <div class="background3"></div>
    <div class="background4"></div>
    <div class="lock8"></div>
    <div class="lock9"></div>
    <div class="background5"></div>
    <div class="lock10"></div>
    <div class="background6"></div>
    <div class="lock11"></div>
    <div class="background7"></div>
    <div class="lock12"></div>
    <div class="lock13"></div>
    <div class="background8"></div>
    <div class="lock14"></div>

    <!--Melena Derecha-->
    <div class="block32"></div>
    <div class="blockW33"></div>
    <div class="block34"></div>

    <!--Bloques correctores-->
    <div class="correct1"></div>
    <div class="correct2"></div>

</div>