.contenedor-cabeza{
    height:250px;
    width:150px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -75%);
}

.contenedor-melena{
    height: 450px;
    width: 350px;
    background-color: $colorSecondary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    box-shadow: inset 25px -100px 0px 0px white;
}

.contenedor-cuerpo{
    height: 400px;
    width: 320px;
    border-radius: 80%;
    background-color: $colorPrimary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: -1;
}