.correct1{
    height: 122px;
    width: 40px;
    background-color: $colorBackground;
    position: absolute;
    top: 19%;
    left: 0%;
    z-index: -1;
}

.correct2{
    height: 40px;
    width: 40px;
    background-color: $colorBackground;
    position: absolute;
    top: 69%;
    left: 20%;
    z-index: -1;
}

.correct3{
    height: 50px;
    width: 50px;
    background-color: $colorBackground;
    position: absolute;
    top: 60%;
    left:90%;
    z-index: -3;
}

.correct4{
    height: 80px;
    width: 90px;
    background-color: $colorBackground;
    position: absolute;
    top: 0%;
    left:70%;
    z-index: -3;
}

.correct5{
    height: 80px;
    width: 50px;
    background-color: $colorBackground;
    position: absolute;
    top: -10%;
    left:73.5%;
    z-index: 7;
}