.background1{
    height: 25px;
    width: 50px;
    transform: rotate(14deg);
    border-radius: 80%;
    border-bottom: 1px solid $colorBordeMelena;
    background-color: $colorBackground;
    position: absolute;
    top: -2%;
    left: 14%;
    z-index: 5;
}

.lock1{
    height: 20px;
    width: 50px;
    transform: rotate(45deg);
    border-radius: 80%;
    border-bottom: 2px solid $colorBordeMelena;
    box-shadow: inset 5px -4px 6px 0px $colorSombraMelena;
    background-color: $colorSecondary;
    position: absolute;
    top: 2%;
    left: 12%;
    z-index: 4;
}

.background2{
    height: 30px;
    width: 70px;
    transform: rotate(45deg);
    border-radius: 80%;
    border-bottom: 2px solid $colorBordeMelena;
    background-color: $colorBackground;
    position: absolute;
    top: -1.8%;
    left: 3.8%;
    z-index: 3;
}

.lock2{
    height: 80px;
    width: 170px;
    transform: rotate(78deg);
    border-radius: 80%;
    border-bottom: 2px solid $colorBordeMelena;
    box-shadow: inset 5px -4px 6px 1px $colorSombraMelena;
    background-color: $colorSecondary;
    position: absolute;
    top: 5.5%;
    left: -12%;
}