.contenedor-melena{
    height: 450px;
    width: 350px;
    background-color: $colorSecondary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30%;
    box-shadow: inset 25px -100px 0px 0px white;
    z-index: -10;
}

//Melena cara

.mechon1{
    height:24px;
    width: 9px;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:12%;
    left:5%;
    transform:translate(280%, -100%)rotate(-10deg);
    background-color: $colorSecondary;
    box-shadow: inset 2px 0px 3px 0px $colorSombraMelena;
}

.mechon2{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:4%;
    transform:translate(-19%, -100%)rotate(-10deg);
    box-shadow: inset 4px 2px 3px 0px $colorSombraMelena;
}

.mechon3{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:70%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 0px 4px 4px 0px $colorSombraMelena;
}

.mechon4{
    height: 15px;
    width: 10px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:10%;
    left:65%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 1px 0px 0px 0px $colorSombraMelena;
}

//Melena cabeza

.mechon__superior{
    height: 125px;
    width: 170px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    position:absolute;
    left: 25%;
    top: -10%;
    box-shadow: inset 0px 6px 6px 0px $colorSombraMelena;
    z-index: 7;

    &::after{
        content: '';
        height: 30px;
        width: 60px;
        background-color: $colorSecondary;
        border-radius:100%;
        border-top: 2px solid $colorBordeMelena;
        box-shadow: inset -15px 0px 3px 0px $colorSombraMelena;
        transform: rotate(0deg);
        position: absolute;
        left: 74%;
        top:-3%;
        z-index: 3;
    }
}
.blockW1{
    content: '';
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius:100%;
    border-left: .5px solid $colorBordeMelena;
    transform: rotate(-28deg);
    position: absolute;
    left: 90%;
    z-index: 4;
}

.block2{
    content: '';
    height: 40px;
    width: 30px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-right: .5px solid $colorBordeMelena;
    box-shadow: inset -3px 0px 1px 0px $colorSombraMelena;
    transform: rotate(25deg);
    position: absolute;
    left: 80.2%;
    top:32%;
    z-index: 6;
}
.block3{
    height: 80px;
    width: 125px;
    transform: rotate(35deg);
    border-radius: 80%;
    background-color: $colorSecondary;
    border-top: 1px solid $colorBordeMelena;
    box-shadow: inset 0px 4px 4px 0px $colorSombraMelena;
    position: absolute;
    top: 43%;
    left: 75%;
    z-index: 5;
}

.block4{
    height: 15px;
    width: 115px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    left: 25%;
    top: -7%;
    box-shadow: inset 2px 6px 6px 0px $colorSombraMelena;
    transform: rotate(-10deg);
   
}

.block5{
    height: 25px;
    width: 78px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-bottom: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    left: 60%;
    top: -20%;
    transform: rotate(-30deg);
    z-index: 4;
    box-shadow: inset -21px 4px 9px 0px $colorSombraMelena;

}
.blockP18{
    height: 27px;
    width: 28px;
    background-color: $colorSecondary;
    border-radius:100%;
    position:absolute;
    left: 61%;
    top: -2%;
    transform: rotate(-30deg);
    z-index: 1;
}

.blockW6{
    height: 18px;
    width: 70px;
    background-color: #fff;
    border-bottom-right-radius:100%;
    border-bottom: 2px solid $colorBordeMelena;
    position:absolute;
    left: 64.5%;
    top: -26.1%;
    transform: rotate(-7deg);
    z-index:4 ;
    box-shadow: 0px 5px 2px 0px $colorSombraMelena;
}


.block7{
    height: 40px;
    width: 40px;
    transform: rotate(20deg);
    border-radius: 80%;
    background-color: #fff;
    border-bottom: .5px solid $colorBordeMelena;
    position: absolute;
    top: 3.5%;
    left: 92.5%;
    z-index: 8;
 
}

