//Melena cara

.mechon1{
    height:24px;
    width: 9px;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:12%;
    left:5%;
    transform:translate(280%, -100%)rotate(-10deg);
    background-color: $colorSecondary;
    box-shadow: inset 2px 0px 3px 0px $colorSombraMelena;
}

.mechon2{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:4%;
    transform:translate(-19%, -100%)rotate(-10deg);
    box-shadow: inset 4px 2px 3px 0px $colorSombraMelena;
}

.mechon3{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:70%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 0px 4px 4px 0px $colorSombraMelena;
}

.mechon4{
    height: 15px;
    width: 10px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:10%;
    left:65%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 1px 0px 0px 0px $colorSombraMelena;
}

//Melena cabeza

.mechon__superior{
    height: 125px;
    width: 170px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    position:absolute;
    left: 25%;
    top: -10%;
    box-shadow: inset 0px 6px 6px 0px $colorSombraMelena;
    z-index: 6;
}
.block{
    height: 50px;
    width: 90px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    box-shadow: inset -5px 5px 3px 0px $colorSombraMelena;
    transform: rotate(10deg);
    position: absolute;
    left: 58%;
    top:-10%;
    z-index: 6;
}
.blockW1{
    height: 50px;
    width: 45px;
    transform: rotate(-10deg);
    background-color: $colorBackground;
    border-radius:100%;
    border-left: 1px solid $colorBordeMelena;
    box-shadow: 0px 6px 4px 0px $colorSombraMelena;
    position: absolute;
    left: 67%;
    top: -10%;
    z-index: 7;
}

.block2{
    height: 48px;
    width: 40px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-right: 1.5px solid $colorBordeMelena;
    box-shadow: inset -3px 0px 1px 0px $colorSombraMelena;
    transform: rotate(-5deg);
    position: absolute;
    left: 64.8%;
    top:0.65%;
    z-index: 9;
}
.block3{
    height: 80px;
    width: 95px;
    transform: rotate(25deg);
    border-radius: 80%;
    background-color: $colorSecondary;
    border-top: 1.5px solid $colorBordeMelena;
    box-shadow: inset 0px 4px 4px 0px $colorSombraMelena;
    position: absolute;
    top: 4.5%;
    left: 64%;
    z-index: 8;
}

.block4{
    height: 15px;
    width: 115px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    left: 35%;
    top: -10.8%;
    box-shadow: inset 2px 6px 6px 0px $colorSombraMelena;
    transform: rotate(-10deg);
    z-index: 6;
}

.block5{
    height: 25px;
    width: 78px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-bottom: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    left: 50%;
    top: -14%;
    transform: rotate(-30deg);
    z-index: 6;
    box-shadow: inset -21px 4px 9px 0px $colorSombraMelena;

}

.blockW6{
    height: 18px;
    width: 70px;
    background-color: $colorBackground;
    border-bottom-right-radius:100%;
    border-bottom: 2px solid $colorBordeMelena;
    position:absolute;
    left: 52%;
    top: -16%;
    transform: rotate(-7deg);
    z-index:6 ;
    box-shadow: 0px 5px 2px 0px $colorSombraMelena;
}
