.lock3{
    height: 70px;
    width: 100px;
    transform: rotate(-65deg);
    border-radius: 80%;
    background-color: $colorSecondary;
    border-top: 2px solid $colorBordeMelena;
    position: absolute;
    top: 30.3%;
    left: 1.4%;
    box-shadow: inset 0px 3px 2px 0px $colorSombraMelena;
}

.lock4{
    height: 20px;
    width: 10px;
    transform: rotate(-32deg);
    border-bottom-right-radius: 17%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid $colorBordeMelena;
    position: absolute;
    top: 46%;
    left: 5%;
    z-index: 3;
}

.lock5{
    height: 65px;
    width: 65px;
    transform: rotate(32deg);
    border-radius: 80%;
    background-color:#fff;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 45%;
    left: -9%;
    box-shadow: 5px 1px 2px 0px $colorSombraMelena;
}

.lock6{
    height: 70px;
    width: 70px;
    transform: rotate(10deg);
    border-radius: 80%;
    background-color:$colorSecondary;
    border-bottom: 2px solid $colorBordeMelena;
    position: absolute;
    top: 50%;
    left: -5%;
    z-index: -1;
    box-shadow: inset 5px -5px 4px 0px $colorSombraMelena;

}

.lock7{
    height: 60px;
    width: 60px;
    transform: rotate(0deg);
    border-radius: 80%;
    background-color:$colorSecondary;
    border-left: 2px solid $colorBordeMelena;
    position: absolute;
    top: 58%;
    left: 11%;
    box-shadow: inset 4px 0px 4px 0px $colorSombraMelena;

}

.background3{
    height: 45px;
    width: 40px;
    transform: rotate(60deg);
    border-radius: 80%;
    background-color:#fff;
    border-left: 1px solid $colorBordeMelena;
    border-top: 1px solid $colorBordeMelena;
    position: absolute;
    top: 64%;
    left: 16%;
}

.background4{
    height: 45px;
    width: 30px;
    transform: rotate(29deg);
    border-radius: 80%;
    background-color:#fff;
    border-right: 1px solid $colorBordeMelena;
    border-top: 1px solid $colorBordeMelena;
    position: absolute;
    top: 64%;
    left: 15.9%;
    z-index: 3;
}

.lock8{
    height: 50px;
    width: 35px;
    transform: rotate(28deg);
    border-radius: 80%;
    background-color:$colorSecondary;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 63%;
    left: 17%;
    z-index: 2;
    box-shadow: inset 0px -9px 2px 2px $colorSombraMelena;

}

.lock9{
    height: 100px;
    width: 35px;
    transform: rotate(-25deg);
    border-bottom-left-radius: 40%;
    border-top-left-radius: 45%;
    background-color:$colorSecondary;
    border-left: 2px solid $colorBordeMelena;
    position: absolute;
    top: 63.3%;
    left: 29.3%;
}

.background5{
    height: 80px;
    width: 45px;
    transform: rotate(-38deg);
    border-bottom-right-radius: 100%;
    background-color:#fff;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 77.8%;
    left: 25.8%;
    z-index: 3;
}

.lock10{
    height: 55px;
    width: 30px;
    transform: rotate(27deg);
    border-top-right-radius: 70%;
    border-bottom-right-radius: 100%;
    background-color:$colorSecondary;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 84%;
    left: 33%;
    z-index: 2;
    box-shadow: inset -3px 0px 1px 0px $colorSombraMelena;
}

.background6{
    height: 45px;
    width: 30px;
    transform: rotate(-15deg);
    border-radius: 70%;
    background-color:#fff;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 84%;
    left: 35%;
    z-index: 1;
}

.lock11{
    height: 110px;
    width: 65px;
    transform: rotate(45deg);
    border-radius: 100%;
    background-color:$colorSecondary;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 71%;
    left: 38%;
    box-shadow: inset -7px 0px 5px 0px $colorSombraMelena;
}

.background7{
    height: 50px;
    width: 45px;
    transform: rotate(-40deg);
    border-radius: 100%;
    background-color:#fff;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 78%;
    left: 50%;
    z-index: -1;
}

.lock12{
    height: 80px;
    width: 50px;
    transform: rotate(20deg);
    border-radius: 100%;
    background-color:$colorSecondary;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 69.8%;
    left: 58.7%;
    z-index: -2;
    box-shadow: inset 0px -10px 4px 0px $colorSombraMelena;
}

.lock13{
    height: 80px;
    width: 50px;
    transform: rotate(-60deg);
    border-radius: 100%;
    background-color:$colorSecondary;
    border-left: 2px solid $colorBordeMelena;
    border-bottom: 2px solid $colorBordeMelena;
    position: absolute;
    top: 64.5%;
    left: 72%;
    z-index: -3;
    box-shadow: inset 0px -6px 3px 0px $colorSombraMelena;
}

.background8{
    height: 60px;
    width: 35px;
    transform: rotate(-40deg);
    border-radius: 100%;
    background-color:#fff;
    border-left: 1px solid $colorBordeMelena;
    border-top: 2px solid $colorBordeMelena;
    border-right: 1px solid $colorBordeMelena;
    position: absolute;
    top: 64.5%;
    left: 80%;
    box-shadow: 5px 0px 5px 0px $colorSombraMelena;
}

.lock14{
    height: 70px;
    width: 35px;
    transform: rotate(0deg);
    border-radius: 100%;
    background-color:$colorSecondary;
    border-right: 2px solid $colorBordeMelena;
    position: absolute;
    top: 60.5%;
    left: 86%;
    z-index: -2;
    box-shadow: inset 0px -6px 5px 0px $colorSombraMelena;
}