.contenedor-melena{
    height: 450px;
    width: 350px;
    background-color: $colorSecondary;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.mechon1{
    height:24px;
    width: 9px;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:12%;
    left:5%;
    transform:translate(280%, -100%)rotate(-10deg);
    background-color: $colorSecondary;
    box-shadow: inset 2px 0px 3px 0px $colorSombraMelena;
}

.mechon2{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:4%;
    transform:translate(-19%, -100%)rotate(-10deg);
    box-shadow: inset 4px 2px 3px 0px $colorSombraMelena;
}

.mechon3{
    height: 20px;
    width: 50px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    position:absolute;
    top:17%;
    left:70%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 0px 4px 4px 0px $colorSombraMelena;
}

.mechon4{
    height: 15px;
    width: 10px;
    background-color: $colorSecondary;
    border-radius:100%;
    border-top: 2px solid $colorBordeMelena;
    border-right: 2px solid $colorBordeMelena;
    border-left: 2px solid $colorBordeMelena;
    position:absolute;
    top:10%;
    left:65%;
    transform:translate(-19%, -100%)rotate(26deg);
    box-shadow: inset 1px 0px 0px 0px $colorSombraMelena;
}
