
$colorPrimary: 	#FA98B1;
$colorSecondary:#FFE0E6;

$colorSombraCuerpo:rgb(209, 102, 128);
$colorSombraNariz:rgb(83, 26, 22);
$colorSombraOjos:rgb(207, 207, 207);
$colorSombraMelena:rgb(223, 193, 199);

$colorNariz:#883C37;
$colorOjo:#fff;
$colorPupila:black;

$colorBordeCuerpo:#935361;
$colorBordeMelena:#A18489;

$colorBackground:rgb(255, 255, 255);
/*
rgb(218, 23, 120)*/